__pycache__/
*.py[cod]
.venv/
.env
.DS_Store
.idea/
.vscode/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
.coverage.xml
.coverage.json
.coverage.yaml
.coverage.yml

# Manim related
media/
__pycache__/